<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grant Your Request</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/freelancer.css') }}" rel="stylesheet">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Grant Your Request</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#testimonials">Testiomonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#footer">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <img class="img-fluid" src="{{ url_for('static', filename='img/profile.png') }}" Height="256" Width="256" alt="">
        <div class="intro-text">
          <span class="name">Helping you simplify your life</span>
          <hr class="star-light">
          <span class="skills">Providing home services and errands for Bay Village, OH and neighboring towns</span>
        </div>
      </div>
    </header>

    <!-- Services Grid Section -->
    <section id="services">
      <div class="container">
        <h2 class="text-center">Services Provided</h2>
        <hr class="star-primary">
        <h4 class="text-center" style="font-weight:500;text-transform:NONE;">Click on a picture to learn more</h4>        
        <div class="row">
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#service4" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/Home-2-icon.png') }}" alt="Home Maintenance" style="border-style: solid;">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#service1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ url_for('static', filename='/img/portfolio/Plants-Grass-icon.png') }}" alt="Lawn Care" style="border-style: solid;">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#service3" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/Snow-2-icon.png') }}" alt="Winter" style="border-style: solid;">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#service2" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/Car-2-icon.png') }}" alt="Transportation" style="border-style: solid;">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#service5" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/Dog-icon.png') }}" alt="Pets" style="border-style: solid;">
            </a>
          </div>
          <div class="col-sm-2 portfolio-item">
            <a class="portfolio-link" href="#service6" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/Household-Shovel-icon.png') }}" alt="Misc and More!" style="border-style: solid;">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
      <div class="container">
        <h2 class="text-center">About Me</h2>
        <hr class="star-light">
        <div class="row">
          <p>When the demands of life don't align well with your schedule, limitations or priorities, contact the guy who finds satisfaction in checking things off the list.  I'm an energetic 55 year old interested in providing basic services that help lighten the load. My wife, a Bay graduate, and I recently moved to Bay Village after selling my retail grocery corporation.  My wife works for University  Hospital.  I am pursuing a new career in the service arena where I can enjoy being busy, being physical and being helpful.  A Bachelor Degree, 30 year marriage, four children, and owning a corporation for 26 years is what I can offer for a resume. Satisfied customers is my goal.</p>
        </div>
      </div>
    </section>

	<!-- Testimonials Section -->
    <section id="testimonials">
      <div class="container">
        <h2 class="text-center">Testimonials</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-lg ml-auto">
            <p> With our lives as busy as they are, we could often use a helping hand. Grant is the person to call. He is truly a “Jack of Many Trades.” He has restained my sunroom, cleaned the attic above my garage, and raked my leaves. He has accepted all my requests and “grants” them beautifully. He is professional in his approach, meticulous in finishing projects, and he shows  up when he says he will! I recommend his service with great enthusiasm. He delivers on his promises.
                <br><i>&nbsp; - Monica Thomas, Bay Village</i>
                 </p>
          </div>
          <div class="col-lg mr-auto">
            <p> Grant Hampton of “Grant Your Request” has worked for us for the past 3 years. He has done a number of projects, big and small. Grant is very easy to work with; he is honest (including letting us know if a project is beyond his scope), reliable, detailed-oriented and meticulous in his work and he communicates well. Our neighbors have taken notice and many have hired him. We highly recommend Grant Hampton!
                <br><i>&nbsp; - Sue &amp; Tim O’Brien, Bay Village</i>
              </p>      
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center" id="footer">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md" style="margin-bottom:0px">
              <h3>Serving Locations in Ohio</h3>
              <p>Bay Village<br>Avon Lake<br>Westlake<br>And Surrounding Areas</p>
            </div>
            <div class="footer-col col-md" style="margin-bottom:0px">
              <h3>A History Of Success</h3>
              <p style="float: none;margin: 0 auto;">See if I can grant your request at: <br> <a href="mailto:grantyourreq@gmail.com?subject=Message From Website">grantyourreq@gmail.com</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below" style="padding:10px">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; GrantYourRequest 2017
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary js-scroll-trigger" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Service Modals -->
	  <!-- Lawn Care -->
    <div class="portfolio-modal modal fade" id="service1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document" style="width:80%; margin:auto">
        <div class="modal-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Lawn Care</h2>
                  <hr class="star-primary">
                  <ul class="list-inline item-details">
                    <li><strong>Mowing</strong></li>
                    <li><strong>Mulching</strong></li>
                    <li><strong>Trimming</strong></li>
                    <li><strong>Raking</strong></li>
                    <li><strong>And More!</strong></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">  
              <div class="modal-body">
                <img class="img-responsive img-rounded center-block" width="768" src="{{ url_for('static', filename='img/BeforeAndAfter/Front_Of_Home.jpg') }}" style="max-width: 90%;max-height: 90%;" >                 
              </div>
            </div>
            <button class="btn btn-success" type="button" data-dismiss="modal" style="margin-bottom:20px;"><i class="fa fa-times"></i>Close</button>
          </div>
        </div>
      </div>
    </div>
	  <!-- Transportation -->
    <div class="portfolio-modal modal fade" id="service2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document" style="width:80%; margin:auto">
        <div class="modal-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Transportation</h2>
                  <hr class="star-primary">
                  <ul class="list-inline item-details">
                    <li><strong>Pick-up and Drop-off</strong></li>
                    <li><strong>Driver</strong></li>
                    <li><strong>Errands</strong></li>
                    <li><strong>Appointment Transportation</strong></li>
                    <li><strong>Shopping</strong></li>
                    <li><strong>And More!</strong></li>
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	  <!-- Winter -->
    <div class="portfolio-modal modal fade" id="service3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document" style="width:80%; margin:auto">
        <div class="modal-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Winter Work</h2>
                  <hr class="star-primary">
                  <ul class="list-inline item-details">
                    <li><strong>Snow Removal</strong></li>
                    <li><strong>Sidewalk/Driveway Shoveling</strong></li>
                    <li><strong>Sidewalk/Driveway Salting</strong></li>
                    <li><strong>And More!</strong></li>
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	  <!-- Home Maintenance -->
    <div class="portfolio-modal modal fade" id="service4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document" style="width:80%; margin:auto">
        <div class="modal-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Home Maintenance</h2>
                  <hr class="star-primary">
                  <!--<img class="img-fluid img-centered" src="{{ url_for('static', filename='img/portfolio/Home-2-icon.png') }}" height="256" width="256" alt="Lawn Care"> -->                 
                  <!--<p>We can elaborate more here</p>  -->                
                  <ul class="list-inline item-details">
                    <li><strong>Landscaping</strong></li>
                    <li><strong>Power Washing</strong></li>
                    <li><strong>Sealing Driveways</strong></li>
                    <li><strong>Sealing Decks</strong></li>
                    <li><strong>Cleaning Gutters</strong></li>
                    <li><strong>Cleaning Home Siding</strong></li>
                    <li><strong>Painting Garages and Outdoor Trim</strong></li>
                    <li><strong>Window Washing</strong></li>
                    <li><strong>Gardening</strong></li>
                    <li><strong>And More!</strong></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">  
              <div class="modal-body">
                <img class="img-responsive img-rounded center-block" src="{{ url_for('static', filename='img/BeforeAndAfter/Backyard.png') }}" style="max-width: 90%;max-height: 90%;" >                 
              </div>
            </div>
            <div class="row">  
                <div class="modal-body">
                  <img class="img-responsive img-rounded center-block" src="{{ url_for('static', filename='img/BeforeAndAfter/Trim.png') }}" style="max-width: 90%;max-height: 90%;" >                 
                </div>
              </div>
            <div class="row">  
              <div class="modal-body">
                <img class="img-responsive img-rounded center-block" src="{{ url_for('static', filename='img/BeforeAndAfter/Powerwash.png') }}" style="max-width: 90%;max-height: 90%;" >                 
              </div>
            </div>
            <button class="btn btn-success" type="button" data-dismiss="modal" style="margin-bottom:20px;"><i class="fa fa-times"></i>Close</button>
          </div>
        </div>
      </div>
    </div>
	  <!-- Pet Care -->
    <div class="portfolio-modal modal fade" id="service5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document" style="width:80%; margin:auto">
        <div class="modal-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Pet Care</h2>
                  <hr class="star-primary">
                  <ul class="list-inline item-details">
                    <li><strong>Pet Walking</strong></li>
                    <li><strong>Pet Care</strong></li>
                    <li><strong>Pet Food Supply Delivery</strong></li>
                    <li><strong>And More!</strong></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">  
              <div class="modal-body">
                <img class="img-responsive img-rounded center-block" width="768" src="{{ url_for('static', filename='img/BeforeAndAfter/Pug.png') }}" style="max-width: 90%;max-height: 90%;" >                 
              </div>
            </div>
            <button class="btn btn-success" type="button" data-dismiss="modal" style="margin-bottom:20px;"><i class="fa fa-times"></i>Close</button>            
          </div>
        </div>
      </div>
    </div>
	  <!-- And More! -->
    <div class="portfolio-modal modal fade" id="service6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document" style="width:80%; margin:auto">
        <div class="modal-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>And More!</h2>
                  <hr class="star-primary">
                  <ul class="list-inline item-details">
                    <li><strong>Indoor Odd Jobs</strong></li>
                    <li><strong>Assembly of Items</strong></li>
                    <li><strong>Indoor Painting</strong></li>
                    <li><strong>Lifting and Storage</strong></li>
                    <li><strong>Holiday Decorations Set-up and Take-down</strong></li>
                    <li><strong>Organizing</strong></li>
                    <li><strong>And More!</strong></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">  
              <div class="modal-body">
                <img class="img-responsive img-rounded center-block" src="{{ url_for('static', filename='img/BeforeAndAfter/Laundry.png') }}" style="max-width: 90%;max-height: 90%;" >                 
              </div>
            </div>
            <button class="btn btn-success" type="button" data-dismiss="modal" style="margin-bottom:20px;"><i class="fa fa-times"></i>Close</button>                      
          </div>
        </div>
      </div>
    </div>
	
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/freelancer.min.js') }}"></script>

  </body>

</html>
